@font-face {
    font-family: 'Normalidad';
    src: url('/assets/fonts/NormalidadCompact-Bold.ttf');
}

@font-face {
    font-family: 'Normalidad';
    src: url('/assets/fonts/NormalidadCompact-Medium.ttf');
}

.font-normalidad {
    font-family: 'Normalidad';
}

.mx-w-1140 {
    max-width: 1140px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: #fff;
}

.page-logo {
    padding: 20px 24px;
}

.page-logo-image {
    height: 16px;
}

.nav-bar {
    max-width: 1440px;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.z-5 {
    z-index: 5;
}

.loging-btn {
    padding: 12px 16px 12px 16px;
    gap: 4px;
    border-radius: 16px;
    background: #1F272E;
    color: white;
    transition: all 200ms linear;
}

.loging-btn:hover {
    background-color: white;
    color: #1F272E;
}

.Signin-btn {
    width: 94;
    height: 40;
    padding: 12px 16px 12px 16px;
    gap: 4px;
    border-radius: 16px;
    background-color: var(--dark-yellow);
    transition: all 200ms linear;
}

.Signin-btn:hover {
    background-color: #1F272E;
    color: #D4FF27;
}

.body {
    --bs-btn-color: #4D545E !important;
    color: #4D545E !important;
}

.dropdown-box {
    border-top: none !important;
    border: 1px solid #1F272E;
}

.btn {
    padding: 18px 24px !important;
}

.nav-link-coming-soon {
    padding: 2px 8px 2px 8px;
    border-radius: 40px;
    background: #1F272E;
}


.pl-24 {
    padding-left: 24px;
}

.ml-24 {
    margin-left: 24px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-8 {
    margin-left: 8px;
}

.mx-w-835 {
    max-width: 835px;
}

.carousel-heading {
    top: -470%;
    right: 9%;
}

.lh-86 {
    line-height: 86.4px;
}

/* ----------------section-2-------------------- */
.valo-image {
    max-width: 286px;
}

.pt-95 {
    padding-top: 95px;
}

.pb-96 {
    padding-bottom: 96px;
}

.pt-47 {
    padding-top: 47px;
}

.pt-24 {
    margin-top: 24px;
}

.lh-16 {
    line-height: 16px;
}

.section-2-games-box {
    border-radius: 16px;
    padding: 16px;
    background: #0D1012;
    transition: all 200ms linear;
    max-width: 318px;
}

.section-2-games-box:hover {
    transform: scale(1.05);
}

.coming-soon-img {
    left: 0;
    top: 0;
}

.game-slider .slick-track {
    padding-top: 47px;
    display: flex !important;
    gap: 25px !important;
}

/* ----------------section-3-------------------- */
.lh-36 {
    line-height: 36px;
}

.grind-section-3-para {
    max-width: 300px;
    padding-bottom: 55px;
}

.video {
    max-width: 880px !important;
    max-height: 480px;
}

.grind-section {
    min-height: 988px;
    background-image: url('/assets/image/png/section-3-bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grind-section-btn {
    padding: 16px 24px;
    background-color: var(--dark-yellow);
    border-radius: 12px;
}

/* ----------------section-4-------------------- */
.section-4-bg {
    background-image: url(/assets/image/png/section-4-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.section-4-card {
    width: 100%;
    height: 468px;
    border-radius: 16px;
}

.mx-w-1320 {
    max-width: 1320px !important;
}

.meet-card {
    border-radius: 72px;
    background: #151A1F;
}

.mx-w-95 {
    max-width: 95px;
}

.mx-w-132 {
    max-width: 132px;
}

.mx-w-114 {
    max-width: 114px;
}

.mx-w-538 {
    max-width: 538px;
}

.mx-w-612 {
    max-width: 612px;
}

.pt-76 {
    padding-top: 76px;
}

.pl-96 {
    padding-left: 96px !important;
}

.compete-btn {
    border-radius: 16px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    max-width: 165px;
    background: #D4FF27;
    transition: all 200ms linear;
}

.compete-btn:hover {
    background-color: white;
    color: black;
}

/* ----------------section-5-------------------- */
.News-heading {
    gap: 8px;
    padding-left: 16px;
    border-left: 3px solid #D4FF27;
}

.section-5-sky-army-card {
    max-width: 660px;
    padding: 32px 24px 24px 24px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #0D1012;
}

.Valorant-card {
    max-width: 77px;
    border-radius: 48px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    top: 58.5%;
}

.horse-riding-card {
    max-width: 480px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #0D1012;
}

.mt-24 {
    margin-top: 24px;
}

.bottom-card-img {
    background-image: url(/assets/image/png/section-5-bottom-card.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-card {
    width: 1344px;
    height: 160px;
    border-radius: 12px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 352px;
}


.mx-w-456 {
    max-width: 456px;
}

.mail-box {
    max-width: 404px;
    width: 100%;
    height: 40px;
    min-width: 200px;
    border-radius: 12px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background: #0D1012;
}

.input-arrow-btn {
    width: 40px;
    height: 40px;
    border-radius: 16px;
    padding: 12px;
    background: #0D1012;
}

.gap-12 {
    gap: 12px;
}

/* ----------------section-4-------------------- */
.footer-bg-black {
    background-color: #0D1012;
}

.footer-line {
    border-width: 1px;
    border: 1px solid #1F272E;
}

.mt-32 {
    margin-top: 32px;
}

.footer-input-arrow-btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding: 12px;
    background-color: var(--dark-yellow);
}

.gap-16 {
    gap: 16px;
}

.mt-96 {
    margin-top: 96px;
}

.mb-56 {
    margin-bottom: 56px;
}

@media (max-width:575.98px) {
    .section-5-box {
        flex-direction: column;
    }

    .pt-95 {
        padding-top: 15px;
    }

}

@media (max-width:1199.98px) {
    .pl-0 {
        padding-left: 0 !important;
    }

    .px-custom-xl-3 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .section-4-card {
        height: unset;
    }
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: #00243C !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .gap-lg-20 {
        gap: 20px;
    }

    .pl-lg-0 {
        padding: 0 !important;
    }

    .show-navbar {
        right: 0 !important;
    }


    .video {
        width: 100%;
    }

    .max-lg-w-100 {
        width: 100% !important;
    }

    .section-5-sky-army-card {
        max-width: 100%;
    }

    .horse-riding-card {
        width: 100%;
        max-width: unset;
    }

    .mt-25 {
        margin-top: 25px;
    }

}