@font-face {
    font-family: 'Normalidad';
    src: url('/assets/fonts/NormalidadCompact-Bold.ttf');
}

@font-face {
    font-family: 'Normalidad';
    src: url('/assets/fonts/NormalidadCompact-Medium.ttf');
}

.font-normalidad {
    font-family: 'Normalidad';
}

.carousel-control-next-icon {
    background-image: url(/assets/image/svg/carusol-next-btn.svg) !important;
}

.carousel-control-prev-icon {
    background-image: url(/assets/image/svg/carusol-prev-btn.svg) !important;
}

.pt-16 {
    padding-top: 16px;
}

.pb-56 {
    padding-bottom: 56px;
}

.game-link {
    color: var(--dark-yellow);
    transition: all 200ms linear;
}

.game-link:hover {
    color: var(--color-white);
}

.pt-12 {
    padding-top: 12px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: var(--color-white);
}

.page-logo {
    padding: 20px 24px 24px 24px;
}

.page-logo-image {
    height: 16px;
}

.nav-bar {
    max-width: 1440px;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.z-5 {
    z-index: 5;
}

.loging-btn {
    padding: 12px 16px 12px 16px;
    gap: 4px;
    border-radius: 16px;
    background: #1F272E;
    color: var(--color-white);
    transition: all 200ms linear;
}

.loging-btn:hover {
    background-color: var(--color-white);
    color: #1F272E;
}

.Signin-btn {
    padding: 12px 16px 12px 16px;
    gap: 4px;
    border-radius: 16px;
    background-color: var(--dark-yellow);
    transition: all 200ms linear;
}

.Signin-btn:hover {
    background-color: var(--color-grey);
    color: var(--dark-yellow);
}

.body {
    --bs-btn-color: #4D545E !important;
    color: var(--text-light-black) !important;
}

.dropdown-box {
    border-top: none !important;
    border: 1px solid var(--color-grey);
}

.btn {
    padding: 18px 24px 18px 24px !important;
}

.nav-link-coming-soon {
    padding: 2px 8px 2px 8px;
    border-radius: 40px;
    background: var(--color-grey);
    transition: all 200ms linear;
}

.pl-24 {
    padding-left: 24px;
}

.ml-24 {
    margin-left: 24px;
}

.mr-40 {
    margin-right: 40px;
}

.ml-8 {
    margin-left: 8px;
}

.mx-w-835 {
    max-width: 835px;
}

.lh-86 {
    line-height: 86.4px;
}

.carousel-bg {
    background-image: url("/assets/image/png/bg-image.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    transform: translateY(-200px) translateX(-37px);
}

/* .trasform-translateY-15 {
    transform: translateY(15px);
} */
.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.compete-btn-2 {
    border-radius: 16px;
    padding: 16px;
    max-width: 165px;
    background-color: var(--dark-yellow);
    transition: all 200ms linear;
}

.compete-btn-2:hover {
    background-color: var(--color-white);
}

.carousel-indicators [data-bs-target] {
    width: 48px !important;
    height: 4px !important;
    border-radius: 24px !important;
    border-top: unset !important;
    border-bottom: unset !important;
    background-color: var(--bg-light-black) !important;
    transition: all 200ms linear !important;
    margin-bottom: 10rem;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: var(--dark-yellow) !important;
}

/* ----------------section-2-------------------- */
.valo-image {
    max-width: 286px;
}

.pt-95 {
    padding-top: 95px;
}

.mx-24 {
    margin-left: 34px;
    margin-right: 24px;
}

.mt-96 {
    margin-top: 96px;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.pb-96 {
    padding-bottom: 96px;
}

.pt-47 {
    padding-top: 47px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-24 {
    margin-top: 24px;
}

.section-2-games-box {
    border-radius: 16px;
    padding: 16px;
    background-color: var(--bg-light-black);
    transition: all 200ms linear;
    max-width: 318px;
}

.coming-soon-img {
    left: 0;
    top: 0;
}

.game-slider .slick-track {
    padding-top: 47px;
    display: flex !important;
    gap: 25px !important;
}

/* ----------------section-3-------------------- */
.lh-36 {
    line-height: 36px;
}

.grind-section-3-para {
    max-width: 300px;
    padding-bottom: 60px;
}

.grind-section-line {
    top: 20%;
}

.video {
    max-width: 880px !important;
    max-height: 480px;
}

.mx-w-1344 {
    max-width: 1344px !important;
}

.grind-section {
    min-height: 988px;
    background-image: url('/assets/image/png/section-3-bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grind-section-btn {
    padding: 16px 24px;
    background-color: var(--dark-yellow);
    border-radius: 12px;
    transition: all 200ms linear;
}

.grind-section-btn:hover {
    background-color: var(--color-white);
}

/* ----------------section-4-------------------- */
.section-4-bg {
    background-image: url(/assets/image/png/section-4-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.section-4-card {
    width: 100%;
    height: 468px;
    border-radius: 16px;
}

.meet-card {
    border-radius: 72px;
    background: var(--light-black);
}

.lh-36 {
    line-height: 36px;
}

.pt-20 {
    padding-top: 20px;
}

.mx-w-95 {
    max-width: 95px;
}

.mx-w-132 {
    max-width: 132px;
}

.mx-w-114 {
    max-width: 114px;
}

.mx-w-538 {
    max-width: 538px;
}

.mx-w-612 {
    max-width: 612px;
}

.pt-76 {
    padding-top: 76px;
}

.pl-96 {
    padding-left: 96px !important;
}

.compete-btn {
    border-radius: 16px;
    padding: 16px 24px 16px 24px;
    max-width: 165px;
    background: var(--dark-yellow);
    transition: all 200ms linear;
}

.compete-btn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

/* ----------------section-5-------------------- */
.News-heading {
    gap: 8px;
    padding-left: 16px;
    border-left: 3px solid var(--dark-yellow);
}

.section-5-sky-army-card {
    max-width: 660px;
    padding-left: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--bg-light-black);
}

.Valorant-card {
    max-width: 87px;
    border-radius: 48px;
    padding: 8px 12px 8px 12px;
    top: 58.5%;
    transform: translatey(-54%);
}

.all-news-tag {
    color: var(--color-white);
}

.mt-64 {
    margin-top: -64px;
}

.mb-12 {
    margin-bottom: -12px;
}

.all-news-tag:hover {
    color: var(--dark-yellow);
}

.Valorant-card-2 {
    max-width: 78px;
    height: 24px;
    border-radius: 48px;
    color: var(--light-grey);
}

.mt-34 {
    margin-top: 34px;
}

.pt-3px {
    padding-top: 3px;
}

.pt-32 {
    padding-top: 32px;
}

.horse-riding-card {
    width: 100%;
    padding-left: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--bg-light-black);
}

.mt-24 {
    margin-top: 24px;
}

.pb-40 {
    padding-bottom: 40px;
}

.left-0 {
    left: 0;
}

.bottom-card-img {
    background-image: url(/assets/image/png/section-5-bottom-card.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.bottom-card {
    width: 1300px;
    height: 160px;
    border-radius: 12px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 352px;
}

.mail-box {
    max-width: 404px;
    width: 100%;
    height: 40px;
    min-width: 200px;
    border-radius: 12px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background: var(--bg-light-black);
}

.input-arrow-btn {
    width: 40px;
    height: 40px;
    border-radius: 16px;
    padding: 12px;
    background: var(--bg-light-black);
}

.gap-12 {
    gap: 12px;
}

.section-5-mail-box {
    height: 40px;
    padding: 12px 16px 12px 16px;
    background: var(--bg-light-black);
    border-radius: 12px;
    outline: none;
}

.section-5-input-arrow-btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding: 12px;
    background-color: var(--light-black);
    transition: all 200ms linear;
}

.section-5-input-arrow-btn:hover {
    background-color: var(--color-white);
}

/* ----------------section-6-------------------- */
.footer-bg-black {
    background-color: var(--bg-light-black);
}

.footer-line {
    border-width: 1px;
    border: 1px solid var(--color-grey);
}

.footer-input-arrow-btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding: 12px;
    background-color: var(--dark-yellow);
    transition: all 200ms linear;
}

.footer-input-arrow-btn:hover {
    background-color: var(--color-white);
}

.pb-32 {
    padding-bottom: 32px;
}

.mr-12 {
    margin-right: 12px;
}

.mx-w-457 {
    max-width: 457px;
}

.mx-w-965 {
    max-width: 965px;
}

.footer-link {
    color: var(--text-light-black);
    transition: all 200ms linear;
}

.footer-link:hover {
    color: var(--dark-yellow);
}

.footer-tab-btn {
    transition: all 200ms linear;
}

.footer-tab-btn:hover {
    transform: scale(1.5)
}

.right-bottom-8 {
    right: 8px;
    bottom: 8px;
}

.transform-tranlateX13 {
    transform: translateX(-13px);
}

@media (max-width:575.98px) {
    .section-5-box {
        flex-direction: column;
    }

    .pt-95 {
        padding-top: 15px;
    }

    .mt-64 {
        margin-top: 0;
    }

    .pb-40 {
        padding-bottom: 28px;
    }

}

@media (max-width:410.98px) {
    .section-4-btns {
        justify-content: center;
        display: flex;
        margin: auto;
    }

    .mail-box-2 {
        width: 100%;
    }

}

@media (max-width:1199.98px) {
    .pl-0 {
        padding-left: 0 !important;
    }

    .px-custom-xl-3 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .section-4-card {
        height: unset;
    }

    .bottom-card {
        width: 100%;
        padding: 24px;
    }
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: #00243C !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .gap-lg-20 {
        gap: 20px;
    }

    .pl-lg-0 {
        padding: 0 !important;
    }

    .show-navbar {
        right: 0 !important;
    }

    .video {
        width: 100%;
    }

    .max-lg-w-100 {
        width: 100% !important;
    }

    .section-5-sky-army-card {
        max-width: 100%;
    }

    .horse-riding-card {
        width: 100%;
        max-width: unset;
    }

    .mt-25 {
        margin-top: 25px;
    }

    .pt-40 {
        padding-top: 0;
    }

    .lh-86 {
        line-height: 57.4px;
    }

    .all-news-tag {
        display: none !important;
    }

    .pb-20 {
        padding-bottom: 20px;
    }
}

@media (min-width:992px) {
    .footer-tags {
        justify-content: end;
        display: flex;
    }
}

@media (max-width:767.99px) {
    .map-img {
        width: 95%;
    }

    .input-box {
        min-width: 0 !important;
    }

    .hero-content {
        transform: translateY(-200px) translateX(0);
    }
}

.stay-updated-card {
    background-color: var(--dark-yellow);
    max-width: 1344px;
    border-radius: 12px;
}